.one {
    background-image:url("./Asset/hulu.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: top;
    padding-bottom: 0px;
}
.loginButton {
    color: white;
    background: none;
    font-weight: bold;
    border: none; 
    position: relative;
    top: 40px; 
    left: 1150px;
}
h1 {
    color: seagreen;
    outline: black;
    text-align: center;
    font-size: 15px;
    font-weight: 700px;
    letter-spacing: .5px;
    line-height: -15px;
    padding-top: 100px;
    }
h2 {
    color: seagreen;
    text-align: center;
    font-size: 100px;
    font-weight: 600px;
    line-height: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: center;
}
.trialButton {
    position: relative;
    left: 500px;
    font-weight: bold;
    padding: 10px;
}
.two {
    background-image: linear-gradient(to right, #231437 0%, #2c385e 50%, #336e6b 100%);
    background-size: cover;
    height: 200px;
}
.box {
    float: center;
    width: 33.3%;
    padding: 50px;
}
img {
    width: 300px;
    position: relative;
    top: 110px;
    left: 30px;
}
h3 {
    color: white;
    text-align: center;

}
.bundleButton {
    background-color: transparent;
    border: solid white;
    color: white;
    position: relative;
    left: 1000px;
    top: -40px;
    padding: 15px;
}
#one {
    color: seagreen;
    font-weight: bold;
    position: relative;

}
#two {
    font: white;
    font-size: 12px;
    position: relative;
    left: 445px;
    top: -50px;
}
a {
    color: white;
}
.three {
    background: black;
    background-size: cover;
    height: 800px;
}
#plans {
    color:seagreen;
    font-weight: bold;
    position: relative;
    top: 30px;
}
h4 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 50px;
}
#stream {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#note {
    color: white;
    text-align: right;
}